<!doctype html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Data Encryption</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <!-- <meta http-equiv="refresh" content="1"> -->

  <link rel="stylesheet" href="{% static 'style.css' %}" />
  <!-- Unicons -->
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />

  <style>
    body {
      background-color: azure;
    }

    .custom_col {
      margin-top: 5em;
      /* border: 1px solid red; */
    }

    .custom_form_control {
      border: 2px solid rgb(255, 255, 255);
      border-radius: 25px;
      /* min-height: 20em; */
      width: 100%;


    }

    .custom_form_control:focus {
      border: 2px solid rgb(40, 209, 212);
      outline: none;
    }

    .custom-select {
      width: 100%;
      border-radius: 20px;
      outline: none;
      border: none;
    }

    .custom-select:focus {
      border: 1px solid rgb(40, 209, 212);
      outline: none;
    }

    .custom-input-title {
      width: 60%;
      display: inline-block;
      border-radius: 20px;
      outline: none;
      border: none;
    }

    .custom-input-title:focus {
      border: 1px solid rgb(40, 209, 212);
      outline: none;
    }

    .custom-btn {
      display: inline-block;
      width: 30%;
      padding: 10px;
      margin: 5px;
      color: white;
      background-color: rgb(53, 207, 234);
      font-size: 15px;
      border-radius: 10px;
      /* border: 1px solid rgb(231, 15, 44); */
      border: none;
      outline: none;
    }

    .custom-btn:hover {
      background-color: rgb(19, 200, 232);
    }

    /* h2{
        display: block;
        align-items: center;
        border: 1px solid red;
       } */
    .header {
      background-color: rgb(51, 58, 58);
    }
    .custom-alert{
      color:blue
    }
  </style>
</head>

<body>
  <header class="header">
    <nav class="nav">
      <a href="{% url 'index' %}" class="nav_logo">C.W.T7</a>

      <ul class="nav_items">
        <li class="nav_item">
          <a href="{% url 'index' %}" class="nav_link">Home</a>
          <a href="{% url 'EncryptText' %}" class="nav_link">Product</a>
          <a href="{% url 'UserSavedCiphers' %}" class="nav_link">Saved Cipher</a>
          <a href="#" class="nav_link">Contact</a>
        </li>
      </ul>

      <!-- <button class="button" id="form-open">Mudassar Amin</button> -->
      <h5 class="text-primary">@{{request.user.username}}</h5>
      <!-- <a class="button" id="form-open">Logout</a> -->
    </nav>
  </header>
  <div class="container">
    <div class="row ">
      <div class="col-md-2"></div>
      <div class="col-md-8 custom_col d-flex justify-content-center">
        <form action="" method="post">
          {% csrf_token %}
          <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
          <h2 class="d-block mt-4">Lets encrypt your sensitive information</h2>
          <!-- Button trigger modal -->
          <div class="float-end d-block" style="margin-right: 50px;">
            <span style="margin-right: 5px;" id="copy-message" class=" position-absolute">Text copied!</span>
            <button type="button" data-clipboard-action="copy" data-clipboard-target="#textArea"
              class="btn position-absolute mt-3"><i class="bi bi-clipboard"></i></button>
          </div>
          <div class="mb-3">
            <textarea class="mt-2 shadow p-3 custom_form_control" name="inputText" id="textArea"
              placeholder="Enter your text here" cols="90" rows="10">{{outputText}}</textarea>
          </div>
          <!-- ---------------------------save cipher text------------------------ -->
          <div class="d-flex justify-content-center float-start">
            {% if alert %}
            <p class="custom-alert">{{alert}}</p>
            <a style="outline: none; border: none; cursor: pointer;" class="p-1" onclick="toggleClass()"><i
                class="bi bi-cloud-plus"></i></a>
            {% endif %}
          </div>
          <div class="mb-2 save-cipher-text visually-hidden">
            
            {% if VerfyText %}
            <div>
              <input type="text" class="custom-input-title shadow p-3 d-block" id=""
                placeholder="Enter title to save">
                <input type="text" class="custom-input-title shadow p-3" id=""
                placeholder="Enter title to save">
            </div>
            {% else %}
            <input type="text" class="custom-input-title shadow p-3" id="ciphertitleText"
            placeholder="Enter title to save">
            {% endif %}
            <button type="button" class="btn btn-primary" style="margin-left: 7px;"
              onclick="Savecipher({{cipherKey}}, {{algo_id}})">Save</button>
            <small id="cipherSaveAlert"></small>
          </div>

          <!-- ---end Save cipher text -- -->

          <!-- Example single danger button -->
          <div class="input-group">
            <select class="custom-select shadow p-3" name="algo_id" id="inputGroupSelect04"
              aria-label="Example select with button addon">
              <option selected>Choose encryption algorithm</option>
              <option value="1">Ceaser Cipher</option>
              <option value="2">MonoAlpha Cipher</option>
              <option value="3">Vigenere Cipher</option>
            </select>
            <!-- <button class="btn btn-outline-secondary" type="button">Button</button> -->
          </div>
          <div class="input-group">
            <input type="hidden" name="key" placeholder="Enter Key " id="keyText" class="custom-select shadow p-3 mt-3"
              style="display: none;">
          </div>
          <div class="form-check mt-2">
            <input class="form-check-input" type="radio" value="1" name="lable" id="flexRadioDefault1" checked>
            <label class="form-check-label" for="flexRadioDefault1">
              Encrypt
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" value="0" name="lable" id="flexRadioDefault2">
            <label class="form-check-label" for="flexRadioDefault2">
              Decrypt
            </label>
          </div>
          <div class="btn-div d-flex justify-content-between">
            <!-- <input type="hidden" value="encrypt" name="lable"> -->
            <button type="submit" class="shadow  bg-dark custom-btn mt-3">Submit</button>

          </div>
        </form>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
  <script>



    function toggleClass() {
      var element = document.getElementsByClassName('save-cipher-text')[0];
      element.classList.toggle('visually-hidden');
    }


    var clipboard = new ClipboardJS('.btn');
    var copyMessage = document.querySelector('#copy-message');
    copyMessage.style.display = 'none'
    clipboard.on('success', function (e) {
      copyMessage.style.display = 'inline';
      setTimeout(function () {
        copyMessage.style.display = 'none';
      }, 2000);
    });

    clipboard.on('error', function (e) {
      alert('Copy failed!');
    });



    $(document).ready(function () {
      $('#inputGroupSelect04').on('change', function () {
        var selectedAlgorithm = $(this).val();
        var keyInput = $('#keyText');

        if (selectedAlgorithm === '1') {
          keyInput.prop('type', 'number').attr('placeholder', 'Enter Numeric Key');
          keyInput.fadeIn('fast');
        } else if (selectedAlgorithm === '2') {
          keyInput.fadeOut('fast');
        } else if (selectedAlgorithm === '3') {
          keyInput.prop('type', 'text').attr('placeholder', 'Enter Key (key should be lowercase alphabets)');
          keyInput.fadeIn('fast');
        }
      });
    });

    function Savecipher(key, algo_id) {
      var CipherTextarea = document.getElementById('textArea');
      var titleElement = document.getElementById('ciphertitleText');
      var CipherText = CipherTextarea.value;
      var title = titleElement.value;

      console.log('cipher text:', CipherText);
      console.log('Title:', title);
      console.log('key:', key);
      console.log('algo_id:', algo_id);

      var data = {
        CipherText: CipherText,
        title: title,
        key: key,
        algo_id: algo_id,
      };
      var csrftoken = $('input[name="csrfmiddlewaretoken"]').val();

      // Set the CSRF token in the AJAX request headers
      $.ajaxSetup({
        headers: {
          'X-CSRFToken': csrftoken
        }
      });

      // Send the AJAX request
      $.ajax({
        url: '/savedCipher/', // Replace with your server endpoint for login
        type: 'POST',
        data: data,
        success: function (response) {
          // Handle the response from the server
          console.log(response.message);
          var alertElement = $(`#cipherSaveAlert`).text(response.message)
          var textarea = $(`#textArea`)


        },
        error: function (xhr, status, error) {
          // Handle error if any
          console.error(error);
        }
      });
    }
  </script>

</body>

</html>